<div class="navbar">
        <div class="menu-item <%= "bold" if current_page?(bio_path)%>">
            <%= link_to "Bio", bio_path %>
        </div>  
        <div class="menu-item <%= "bold" if current_page?(skills_path)%>">
            <%= link_to "Skills", skills_path %>
        </div>
        <div class="menu-item <%= "bold " if current_page?(projects_path)%>">
            <%= link_to "Projects", projects_path %>
        </div>
        <div class="menu-item <%= "bold " if current_page?(contact_path)%>">
            <%= link_to "Contact", contact_path %>
        </div>
    <div>
        <div class="social">
            <a href="https://linkedin.com/in/karolina-langner"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/karolinalangner"><i class="fab fa-github"></i></a>
        </div>
        <p class="text-center copyright"><small>&copy; Copyright 2021 Karolina Langner</small></p>
    </div>
</div>