<h1><strong>Projects</strong></h1>
<br><br>
<p>Check out my recent projects.
I am still building my portfolio.
So far I have worked on some static pages, as well as a few MVC web apps built in RoR.
</p>

<div class="projects">

    <div  class="project">
        <%= link_to(image_tag("screenshots/patrycjah.PNG"), 'https://patrycjahampelska.herokuapp.com/' %>   
        <div class="description">
            <p><strong>  <%= link_to "Patrycja Hampelska Portfolio", 'https://patrycjahampelska.herokuapp.com/') %></strong></p>
            <p>Porfolio for a Poland-based copywriter, Patrycja Hampelska. Built with Ruby-on-Rails. The idea was to keep design simple.</p>
            <small><a href="https://github.com/Gregoire-Cade/surf-your-trip"><i class="fab fa-github-square"> GH Repo</i></a></small>

        </div>

    </div>
     <div  class="project">
        <%= link_to(image_tag("screenshots/syt-screenshot.PNG"), 'https://www.surf-your-trip.xyz') %>   
        <div class="description">
            <p><strong><%= link_to"Surf Your Trip", "https://www.surf-your-trip.xyz" %></strong></p>
            <p>Surf Your Trip was my final project during Le Wagon bootcamp. It is a Ruby on Rails app. Built in only 9 days, along with Greg Cade.
              The app allows you to browse through surf spots around the world, share your favourite spots with other users and plan your future surf trips.</p>
            <small><a href="https://github.com/Gregoire-Cade/surf-your-trip"><i class="fab fa-github-square"> GH Repo</i></a></small>  
        </div>
    </div>
     <div  class="project">
        <%= link_to(image_tag("screenshots/rent-it-screenshot.png", width: 450, height: 250), 'http://airbnb-gregoire-cade.herokuapp.com/') %>   
        <div class="description">
            <p><strong><%= link_to "Rent-it!", "http://airbnb-gregoire-cade.herokuapp.com/" %></strong></p>
           <p>Rent it! was my first MVC team project I worked on during the bootcamp. It's an AirBnB clone.</p>
            <small><a href="https://github.com/karolinalangner/rails-airbnb-clone"><i class="fab fa-github-square"> GH Repo</i></a></small>
        </div>
    </div>
    <div  class="project">
        <%= link_to(image_tag("screenshots/cocktails-screenshot.PNG", width: 450, height: 250), 'https://karolinascrazycocktails.herokuapp.com/') %>   
        <div class="description">
             <p><strong><%= link_to "Crazy Cocktails", "https://karolinascrazycocktails.herokuapp.com/" %></strong></p>
            <p>This was my first attempt to an MVC app. Built in 2 days during the bootcamp. Crazy Cocktails is a cocktail manager. It allows the user to add a recipe and upload a picture of their favourite cocktail to the gallery.</p>
            <small><a href="https://github.com/karolinalangner/rails-mister-cocktail"><i class="fab fa-github-square"> GH Repo</i></a></small>
        </div>
    </div>
       <div  class="project">
        <%= link_to(image_tag("screenshots/nicehair.PNG", width: 450, height: 250), 'https://karolinalangner.github.io/landing/') %>   
        <div class="description">
            <p><strong><%= link_to "NiceHair", "https://karolinalangner.github.io/landing/" %></strong></p>
            <p>A landing page mockup for a hair salon. This was my first attempt to a static page.</p>
            <small><a href="https://github.com/karolinalangner/landing"><i class="fab fa-github-square"> GH Repo</i></a></small>
        </div>
    </div>


</div>