<!DOCTYPE html>
<html>
  <head>
    <title>KarolinaPortfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body class="d-flex bg-white">

  <%= render 'shared/navbar'%>
  
   <div class="container">
      <div class=" logo">
        <i class="fas fa-bars menu" id="menu"></i>
        <h4 class="bold text-center"><%=link_to "Karolina Langner", root_path %></h4>
      </div> 
      <div style="color: cornflowerblue; margin-top: 5px;">
        <p class="notice text-center"><%= notice %></p>
        <p class="alert text-center"><%= alert %></p>
      </div> 
      <div class="content">
        <%= yield %>
      </div>
      <%= render 'shared/footer'%>
    </div>
 

  </body>
</html>
